{
    "accountid": "Insert your account ID here",
    "apikey": "Insert your Insights API INSERT key here",
    "logfile": "/var/log/system.log",
    "match": "(\\w{3}[0-9\\s:]+)(\\S+)\\s([^\\[]+)\\[(\\d+)\\]:(.*)",
    "headers": [
        "date",
        "host",
        "process",
        "pid",
        "message"
    ],
    "newmsgs": true
}
